font-family: 'Montserrat', sans-serif;

*{
    font-family: sans-serif;
}

h1,h2,h3,h4, .h1, .h2, .h3, .h4{
    font-family: montserrat;
}


:root{
    --yellow:rgb(255, 174, 3);
    --black:rgb(28, 28, 28);
    --white: rgb(238, 240, 242);
    --blue:rgb(56, 134, 151);
}

.bg-yellow{
    background-color: var(--yellow);
}

.bg-black{
    background-color: var(--black);
}

.bg-white{
    background-color: var(--white);
}

.text-yellow{
    color: var(--yellow);
}

.text-black{
    color: var(--black);
}

.text-white{
    color: var(--white);
}


/* Navbar */

.nav-link{
    color: var(--yellow);
    font-weight: 700;
}

.nav-link:hover{
    color: var(--blue);
}

.navbar{
height: 140px;
transition: 0.5s;
}

/* Logo */
.logo{

    width: 50px;
}